@model TodoListApp.ViewModels.ProjectViewModel
@if (Model.GroupProjects.Any())
{
    <div class="card-grid">
        @foreach (var project in Model.GroupProjects)
        {
            <div class="card" onclick="location.href='@Url.Action("Details", "Project", new { id = project.Id })'">
                <div class="project-name">@project.Name</div>
            </div>
        }
    </div>
    <div class="pagination">
        @{
            var currentPage = Model.GroupProjectsPage;
            var totalPages = Model.GroupProjectsTotalPages;
        }

        @if (currentPage > 1)
        {
            <a href="#" class="pagination-link prev"
            data-section="group" data-page="@(currentPage - 1)">
                &laquo;
            </a>
        }

        <span class="current-page">Page @currentPage of @totalPages</span>

        @if (currentPage < totalPages)
        {
            <a href="#" class="pagination-link next"
            data-section="group" data-page="@(currentPage + 1)">
                &raquo;
            </a>
        }
    </div>
}
else
{
    <div class="no-records">
        <img src="~/images/no-records.png" alt="No records found" />
    </div>
}